:root {
  --main-bg-color: rgb(107, 107, 135);
}

.mainBar {
  height: 70px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_img {
  height: 200px;
  margin-left: 30px;
  cursor: pointer;
}


.profile_icon{
  height: 50px;
  width: 50px;
  margin-top:  1%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;

}

/* Media queries for responsive design */

@media (max-width: 600px) {
  .logo_img {
    height: 150px;
  }

  .rightSideMenu {
    display: none;
  }
}